.bg-header {
    height: 50vh;

    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("/static/media/headerGeometric2.jpg") no-repeat center center fixed;
    opacity: 0.3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
}

.header-text,
h1,
h3 {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.header-text p {
    font-size: 16px;
    padding-top: 30px;
}

.header-text h1,
h3 {
    padding-left: 70px;
}

.header-box {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: black;
    width: 100%;
}

/*--------------------------------------checker*/

.checker-box {
    padding: 50px 10px 10px 10px;
    border-style: groove;
    margin: 20px 20px 20px 20px;
    background-color: rgba(240,248,255, 0.3);
}

.checker-function {
    align-self: center;
}

/*--------------------------------------interactive charts*/

.interactive-charts-section {
    padding: 50px 10px 10px 10px;
    border-style: groove;
    margin: 20px 20px 20px 20px;
    background-color: rgba(240, 255, 255, 0.3);
}

#constituency_search {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#constituency_search:focus {
    outline: 3px solid #ddd;
}


.show {
    display: block;
}

